
<!DOCTYPE html>
<html>
<head>
  <link rel="stylos" href="home.component.css">
</head>
<body>

    
    <div class='img'>
    
        <img  src="https://lodev.org/cgtutor/images/raycasteruntextured.gif"
        
        width="600"
        height="400"
         title="Imagen referencial de motor raycasting en modo debug">
        
         <img  src="https://i.imgur.com/I4QiNck.png"
        
        
         width="600"
         height="400"
         title="Imagen referencial de motor raycasting en plano">
        
    
    </div>

    <hr>
    <br><br>
    <h1 >Contacto</h1>
    <br>
    <div class="subtitulo">
        Formulario de contacto
    </div>
    
    <table >
        <tr>
            <td >
                Nombre:
            </td>
            <td>
                <input class="inputTexto" type="text" id="nombre" title="Ingrese su nombre">
            </td>
        </tr>
        <tr>
            <td>
                Correo Electronico:
            </td>
            <td>
                <input class="inputTexto" type="email" name="mail" id="mail" title="Ingrese su correo electronico">
            </td>
        </tr>
        <tr>
            <td>
                Telefono:
            </td>
            <td>
                <input class="inputTexto" type="text" id="telefono" title="Ingrese su numero telefonico">
            </td>
        </tr>
    </table>

    <br>

    <table>
        <tr>
            <td>
                Asunto:
            </td>
            <td>
                <input class="inputTexto" type="text" id="asunto" title="Ingrese el motivo por el cual nos contacta">
            </td>
        </tr>
        <tr>
            <td>
                Mensaje:
            </td>
            <td>
                <textarea name="mensaje" id="mensjae" cols="30" rows="3" title="Ingrese su mensaje"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                    <div>
                        <input class="inputEnviar"type="submit" value="Enviar!" title="pulse aqui para enviar">
                    </div>
            </td>
        </tr>
    </table>

    <br><br><br><br><br><br><br><br>

    <hr>

    <table class="pieDePagina">
        <tr>
            <th>
                <a mat-list-item href="/Home">Home</a>
            </th>
            <th>
                <a mat-list-item href="/portafolio">Portafolio</a>
            </th>
            <th>
                <a mat-list-item href="/servicio">Servicio</a>
            </th>
            <th>
                <a mat-list-item href="/partner">Partner</a>
            </th>
            <th>
                <a mat-list-item href="/contacto">Contacto</a>
            </th>
            <th>
                <a mat-list-item href="/juego">Juego</a>
            </th>
        </tr>
    </table>
    <br><br><br><br><br>
    <table class="autores">
        <tr>
            <th >
                pagina desarrollada por Sebastian Arias y Sebastian Vergara octubre 2020.
            </th>
        </tr>
    </table>

    <br><br><br><br>


</body>
</html>


