<!DOCTYPE html>
<html>
<head>
  <link rel="stylos" href="home.component.css">
</head>
<body>
    <div class='img'>
    
        <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Ray_trace_diagram.svg/1200px-Ray_trace_diagram.svg.png"
        
        width="800"
        height="500"
         title="diagrama Motor Raytracing">
        
         
    
    </div>

    <hr>
    <br><br>
    <h1 >Raytracing</h1>
    <br>
    <div class='subtitulo'>
        explicacion
    </div>
    <br>
    <h3>
        El trazado de rayos (en inglés ray tracing) es un algoritmo para síntesis de imágenes que calcula el camino de la luz como píxeles en un plano de la 
        imagen y simula sus efectos sobre las superficies virtuales en las que incida. Esta técnica es capaz de producir imágenes con un alto grado de realismo, 
        de una forma mayor que el renderizado mediante líneas de exploración tradicional, aunque el coste computacional del trazado de rayos es mucho mayor.
    ​</h3>
        <br><br><br><br>

    <div class='subtitulo'>
        Antesedentes del algoritmo de raytracing 
    </div>
    <br>
    <h3>
        "The first ray tracing algorithm used for rendering was presented by Arthur Appel in 1968.[6] This algorithm has since been termed "ray casting". 
        The idea behind ray casting is to trace rays from the eye, one per pixel, and find the closest object blocking the path of that ray. 
        Think of an image as a screen-door, with each square in the screen being a pixel. This is then the object the eye sees through that pixel.
        Using the material properties and the effect of the lights in the scene, this algorithm can determine the shading of this object.
        The simplifying assumption is made that if a surface faces a light, the light will reach that surface and not be blocked or in shadow.
        The shading of the surface is computed using traditional 3D computer graphics shading models. One important advantage ray casting offered
        over older scanline algorithms was its ability to easily deal with non-planar surfaces and solids, such as cones and spheres. If a mathematical
        surface can be intersected by a ray, it can be rendered using ray casting. Elaborate objects can be created by using solid modeling techniques
        and easily rendered.""
    </h3>
    <div class='cita'>
        Wikipedia. https://en.wikipedia.org/ . 
        <a href="https://en.wikipedia.org/wiki/Ray_tracing_(graphics)">
            fuente</a>
    </div>


    <hr>
    <table class="pieDePagina">
        <tr>
            <th>
                <a mat-list-item href="/Home">Home</a>
            </th>
            <th>
                <a mat-list-item href="/portafolio">Portafolio</a>
            </th>
            <th>
                <a mat-list-item href="/servicio">Servicio</a>
            </th>
            <th>
                <a mat-list-item href="/partner">Partner</a>
            </th>
            <th>
                <a mat-list-item href="/contacto">Contacto</a>
            </th>
            <th>
                <a mat-list-item href="/juego">Juego</a>
            </th>
        </tr>
    </table>
    
    
    <br><br><br>
    <table class="autores">
        <tr>
            <th>
                pagina desarrollada por Sebastian Arias y Sebastian Vergara octubre 2020.
            </th>
        </tr>
    </table>
    <br><br><br><br>
    
</body>
</html>

