
<!DOCTYPE html>
<html>
<head>
  <link rel="stylos" href="home.component.css">
</head>
<body>
    <div class='img'>
    
        <img  src="https://media.malditosnerds.com/p/3f516b546f099bb56a6c929103ca650d/adjuntos/290/imagenes/000/017/0000017709/hace-23-anos-john-romero-renunciaba-id-software-el-peor-error.png"
        
        width="1000"
        height="500"
         title="Imagen referencial de motor raycasting en modo debug">
        
         
    </div>

    <hr>
    <br><br>
    <h1 >Nuestros colavoradores</h1>
    <br>
    
    <div class = subtitulo>
        Equipo de Desarrollo e investigacion
    </div>
    <br><br><br>
    <table>
        <tr>
            <td>
                <div class='img'>
    
                    <img  src="https://upload.wikimedia.org/wikipedia/commons/0/02/John_Romero_-_Jason_Scott_interview_%286951215353%29_%28cropped%29.jpg"
                    width="250 "
                    height="250"
                     title="John Romero alto dios grande" >
                    
                </div>
            </td>
            <td>
                <h3>
                    Sebastian Arias:
                    <ul>
                        <li>
                            Ingeniera en informatica segundo año
                        </li>
                        <li>
                            Run 20.039.942-0
                        </li>
                        <li>
                            Estudiante de Ingenieria en informatica
                        </li>
                    </ul>
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class='img'>
    
                    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKOTmQOlh9vjHahgJgJ8H5eF7c6el4XmaLLw&usqp=CAU"
                    width="250 "
                    height="250"
                     title="John Carmack gracias por tanto, perdon por tan poco">
                    
                </div>
            </td>
            <td>
                <h3>
                    Sebastian Vergara:
                    <ul>
                        <li>
                            Ingeniera en informatica segundo año
                        </li>
                        <li>
                            Run 20.705.704-5
                        </li>
                        <li>
                            Estudiante de Ingenieria en informatica
                        </li>
                    </ul>
                </h3>
            </td>
        </tr>
    </table>
<br><br><br>
<hr>

<table class="pieDePagina">
    <tr>
        <th>
            <a mat-list-item href="/Home">Home</a>
        </th>
        <th>
            <a mat-list-item href="/portafolio">Portafolio</a>
        </th>
        <th>
            <a mat-list-item href="/servicio">Servicio</a>
        </th>
        <th>
            <a mat-list-item href="/partner">Partner</a>
        </th>
        <th>
            <a mat-list-item href="/contacto">Contacto</a>
        </th>
        <th>
            <a mat-list-item href="/juego">Juego</a>
        </th>
    </tr>
</table>
<br><br><br>
    <table class="autores">
        <tr>
            <th>
                pagina desarrollada por Sebastian Arias y Sebastian Vergara octubre 2020.
            </th>
        </tr>
    </table>
    <br><br><br><br>
<br><br><br><br>
</body>
</html>


