<br>
<hr>
<div class="centrar">
    <app-board></app-board>
</div>

<hr>
<table class="pieDePagina">
    <tr>
        <th>
            <a mat-list-item href="/Home">Home</a>
        </th>
        <th>
            <a mat-list-item href="/portafolio">Portafolio</a>
        </th>
        <th>
            <a mat-list-item href="/servicio">Servicio</a>
        </th>
        <th>
            <a mat-list-item href="/partner">Partner</a>
        </th>
        <th>
            <a mat-list-item href="/contacto">Contacto</a>
        </th>
        <th>
            <a mat-list-item href="/juego">Juego</a>
        </th>
    </tr>
</table>


<br><br><br>
<table class="autores">
    <tr>
        <th>
            pagina desarrollada por Sebastian Arias y Sebastian Vergara octubre 2020.
        </th>
    </tr>
</table>
<br><br><br><br>
