
<!DOCTYPE html>
<html>
<head>
  <link rel="stylos" href="home.component.css">
</head>
<body>
    <div class='img'>
    
        <img  src="https://lodev.org/cgtutor/images/raycasteruntextured.gif"
        
        width="600"
        height="400"
         title="Imagen referencial de motor raycasting en modo debug">
        
         <img  src="https://i.imgur.com/I4QiNck.png"
        
        
         width="600"
         height="400"
         title="Imagen referencial de motor raycasting en modo debug">
        
    
    </div>

    <hr>
    <br><br>
    <h1 >Raycasting</h1>
    <br>
    <h3>Ray casting hace referencia al uso de la intersección rayo-superficie para solucionar una variedad de problemas en gráficos por ordenador y geometría computacional.
         El término fue introducido en gráficos por computadora en un artículo publicado por Scott Roth en 1982 para describir un método de renderización de modelos de
          geometría constructiva de sólidos.1​</h3>
    
    <br><br><br>

    <table>
        <tr>
            <td>
                <div class='video'>
                    <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/8CMh-D4de1I?start=4" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
            
                </div>            
            </td>
            <td>
                <div class='subtitulo'>
                    Ejemplo de raycasting
                </div>

                <h3>
                    podemos ver como el rayo azul proyectado por el "jugador" viaja y rebota en las paredes y a travez de los algoritmos creados proyecta en pantalla los muros
                    haciendo parecer que estuviera en 3d 
                </h3>

            </td>
        </tr>
    </table>
    <br><br><br><br><br>

    <hr>

    <table class="pieDePagina">
        <tr>
            <th>
                <a mat-list-item href="/Home">Home</a>
            </th>
            <th>
                <a mat-list-item href="/portafolio">Portafolio</a>
            </th>
            <th>
                <a mat-list-item href="/servicio">Servicio</a>
            </th>
            <th>
                <a mat-list-item href="/partner">Partner</a>
            </th>
            <th>
                <a mat-list-item href="/contacto">Contacto</a>
            </th>
            <th>
                <a mat-list-item href="/juego">Juego</a>
            </th>
        </tr>
    </table>
    <br><br><br>
    <table class="autores">
        <tr>
            <th>
                pagina desarrollada por Sebastian Arias y Sebastian Vergara octubre 2020.
            </th>
        </tr>
    </table>
    <br><br><br><br>
    
</body>
</html>


